/* Elements qui apparaissent si connecté en tant qu'admin */

header{
    flex-direction: column;

}

#AdminHeader {       
    font-family: 'Work Sans' ;
	font-size: 14px;
    display: flex;
    background-color: black;
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#AdminHeader p {
   padding-left: 10px;
    color: white;
    background-color: black;

}

#AdminHeader i{
    color: white;
    background-color: black;
}

#AdminHeader button {
    margin-left: 20px;
    height: 38px;
    width: 220px;
    color: black;
    background-color: white;
    border-radius: 60px;
    border-style: none;
    box-shadow: none;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Work Sans';
}

#HiddenHeader {
    display: none;
    margin-top: 0;
}


#UserHeader {
    display: flex;
}

.HiddenMain{
    margin-left: 30px;
    margin-top: 15px;
    align-items: center;
    display: none;    
}

.HiddenMain i {
    margin-right: 10px;
}

.HiddenMain a {
    color: black;
}
#titre {
    display: flex;
    justify-content: center;
    align-items: top    ;
}

#titre h2 {
    margin-left: 100px;
    margin-top: 10px;
}


/* ------------------------------------------------------*/
/* MODALE */

.Modale{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    
}

.contenu-modale, .contenu-modale2{
    overflow: auto;
    width:630px;
    height: 730px;
    max-width:calc(100vh - 20px);
    max-height:calc(100vh - 20px);
    margin:100px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #FFFFFF;
} 

.contenu-modale2 {
    height: 670px;
}

#TitreModale {
    font-family: 'Work Sans' ;
    font-size: 26px;
    font-weight: 400;
    color: black;   
    margin-bottom: 0; 
    background-color: #FFFFFF;
}

#boutons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
}


.js-closeModale {
    margin: 35px ;
    border: none;
    color: black;
    align-self: flex-end;
    min-width: 0;
    background-color: #FFFFFF;
}



#worksList {
    margin-top: 1em;
    width: 420px;
    height: 430px;
    border-bottom: 1px solid #B3B3B3;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    background-color: #FFFFFF;
}

.fichephoto {
    margin-left: 6px;
}

#worksList img {
    width: 78px;
}

#worksList p {
    background-color: #FFFFFF;
}

.buttonDelete {
    min-width: 0;
    width: 17px;
    height: 17px;
    background-color: black;
    position: absolute;
    border: none;
    border-radius: 2px;
    margin-left: 55px;
    margin-top: 6px;
    padding: 0px;
}


.buttonDelete i {
    font-size: 9px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
}


.buttonMove {
    min-width: 0;
    width: 17px;
    height: 17px;
    background-color: black;
    position: absolute;
    border: none;
    border-radius: 2px;
    margin-left: 35px;
    margin-top: 6px;
    padding: 0px;
    display: none;
}


.buttonMove i {
    font-size: 9px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
}

.fichephoto:hover .buttonMove {
    display: block;
}


#ajoutPhoto {
    margin-top: 38px;
    background-color: #1d6154;
    color: white;
    width: 237px;
    border-radius: 60px;
    font-family: "Syne";
    font-size: 14px;
    align-self: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#suppPhoto {
    margin-top: 23px;
    color: #D65353;
    border: none;
    font-weight: 400;
    font-family: "Syne";
    font-size: 14px;
    background-color: #FFFFFF;
}


#backToList {
    margin: 37px;
}

#photo {
    background-color: #FFFFFF;
}

#form{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}
#FormAjout {
    display: flex;
    width: 420px;
    height: 420px;
    flex-direction: column;
    
    background-color: #FFFFFF;
}

#noPhoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    height: 169px;
    font-family: "Work Sans";
    background-color:  #E8F1F7;
    border-radius: 3px;
    margin-bottom: 30px;
}

#prevPhoto {
    align-self: center;
    display: flex;
    justify-content: center;
    background-color: #E8F1F6;
    border-radius: 3px;
    margin-bottom: 30px;
}

#photo i {
    width: 58px;
    height: 46px;
    color: #B9C5CC ;
    margin-top: 28px;
    font-size: 46px;
    text-align: center;
    background-color: #E8F1F7;
}

#parcourir {
    display: block;
    background-color: #CBD6DC;
    border-radius: 50px;
    width: 173px;
    height: 36px;
    font-family: "Work Sans";
    font-size: 14px;
    font-weight: 500;
    color: #306685;
    border-color: #CBD6DC;
    margin-top: 21px;
}

#photo p {
    background-color:#E8F1F7 ;
    margin-top: 7px;
    font-size: 10px;
    
}

#TitrePhoto{
    height: 51px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #444444;
    
}

#Categories {
    height: 51px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    background-color: #FFFFFF;
    border: none;
    margin-top: 10px;
    color: #444444;
    padding-left: 16px;
    margin-bottom: 30px;
}

#infoPhoto{
    display: flex;
    flex-direction: column;
    
    border-bottom: 1px solid #B3B3B3;
    background-color: #FFFFFF;
}
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;  
    background: url(./icons/fleche.png);
  
    background-repeat: no-repeat;
    background-position: 95% ;
}

form label {
    background-color: #FFFFFF;
    color: #3D3D3D;
}

#subPhoto {
    width: 237px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #A7A7A7;
    
}