/* Elements qui apparaissent si connecté en tant qu'admin */

header{
    flex-direction: column;

}

#AdminHeader {       
    font-family: 'Work Sans' ;
	font-size: 14px;
    display: flex;
    background-color: black;
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#AdminHeader p {
   padding-left: 10px;
    color: white;
    background-color: black;

}

#AdminHeader i{
    color: white;
    background-color: black;
}

#AdminHeader button {
    margin-left: 20px;
    height: 38px;
    width: 220px;
    color: black;
    background-color: white;
    border-radius: 60px;
    border-style: none;
    box-shadow: none;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Work Sans';
}

#HiddenHeader {
    display: none;
    margin-top: 0;
}


#UserHeader {
    display: flex;
}

.HiddenMain{
    margin-left: 30px;
    margin-top: 15px;
    align-items: center;
    display: none;    
}

.HiddenMain i {
    margin-right: 10px;
}

.HiddenMain a {
    color: black;
}
#titre {
    display: flex;
    justify-content: center;
    align-items: top    ;
}

#titre h2 {
    margin-left: 100px;
    margin-top: 10px;
}


/* ------------------------------------------------------*/
/* MODALE */

.Modale{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    
}

.contenu-modale{
    overflow: auto;
    width:630px;
    height: 730px;
    max-width:calc(100vh - 20px);
    max-height:calc(100vh - 20px);
    margin:100px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
} 

#TitreModale {
    font-family: 'Work Sans' ;
    font-size: 26px;
    font-weight: 400;
    color: black;   
    margin-bottom: 0; 
}

#boutons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.js-closeModale {
    margin: 35px ;
    border: none;
    color: black;
    align-self: flex-end;
    min-width: 0;
}



#worksList {
    margin-top: 1em;
    width: 420px;
    height: 430px;
    border-bottom: 1px solid #B3B3B3;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#worksList img {
    width: 78px;
}

.buttonDelete {
    min-width: 0;
    width: 17px;
    height: 17px;
    background-color: black;
    position: absolute;
    border: none;
    border-radius: 2px;
    margin-left: 55px;
    margin-top: 6px;
    padding: 0px;
}

.buttonDelete i {
    font-size: 9px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
}

#ajoutPhoto {
    margin-top: 38px;
    background-color: #1d6154;
    color: white;
    width: 237px;
    border-radius: 60px;
    font-family: "Syne";
    font-size: 14px;
    align-self: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#suppPhoto {
    margin-top: 23px;
    color: #D65353;
    border: none;
    font-weight: 400;
    font-family: "Syne";
    font-size: 14px;
}

#backToList {
    margin: 35px;
}


#FormAjout {
    margin-top: 36px;
    display: flex;
    width: 420px;
    height: 420px;
    flex-direction: column;
    align-self: center;
    border-bottom: 1px solid #B3B3B3;
}

#photo {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 420px;
    height: 169px;
    font-family: "Work Sans";
    background-color:  #E8F1F7;
    border-radius: 3px;

}

#photo i {
    width: 58px;
    height: 46px;
    color: #B9C5CC ;
    margin-top: 28px;
    
}

#parcourir {
    display: block;
    background-color: #CBD6DC;
    border-radius: 50px;
    width: 173px;
    height: 36px;
    font-family: "Work Sans";
    font-size: 14px;
    font-weight: 500;
    color: #306685;
    border-color: #CBD6DC;
    margin-top: 21px;
}

#photo p {
    background-color:#E8F1F7 ;
    margin-top: 7px;
    font-size: 10px;
    
}